@font-face {
  font-family: "BenzinRegular";
  src: url('https://raw.githubusercontent.com/syaranehls/Benzin.css/main/font.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/syaranehls/Benzin.css/main/font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
